

{% extends "layout/main.twig" %}

{% block content %}
<section class="min-h-screen flex flex-col items-center justify-center text-center p-10">
  <h1 class="text-5xl font-bold text-white mb-6 drop-shadow-lg">
    Bienvenue sur {{ title }}
  </h1>

  <p class="text-lg text-gray-200 max-w-2xl mb-8">
    Pour commencer, c’est la page d’accueil de <strong>ProKey</strong>.  
    Cette plateforme centralise toutes tes mots de passes
  </p>
</section>
{% endblock %}