<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prokey</title>
</head>
<body>
   {% include 'partials/notifications.twig' %} 
   {% include 'partials/header.twig' %} 

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Prokey</p>
    </footer>
</body>
</html>